<tr id="%s">
  <th scope="row" style="width: 15%%">
    <a class="magenta_links" href="http://old-ballot.dowjcr.uptime.party/roomballot/room/%s">%s
    </a>
  </th>
  <td style="width: 15%%">%s</td>
  <td style="width: 55%%">%s</td>
  <td style="width: 15%%">Band %s</td>
</tr>